.hero {
  text-align: center;
  margin-top: 60px;
}

.hero-text h1 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.hero-text span {
  color: var(--primary-color);
}

.hero-text p {
  max-width: 600px;
  margin: 0 auto 25px;
  line-height: 1.6;
}

.btn-primary {
  background: black;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: gray;
}
